<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body, input {
            font-size: 32px;
        }
        input {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <input type="text" id="secret" value="{{ secret }}">
    payload={{ payload }}
</body>
</html>
